<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VaultShare</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/VaultShare.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="header">
        <a href="@Url.Action("Dashboard", "Home")">
            <img src="https://png.pngtree.com/element_our/sm/20180515/sm_5afafeb131875.jpg" alt="VaultShare Logo" height="40" class="logo">
        </a>
        <div>
            <a href="@Url.Action("Dashboard", "Home")">Dashboard</a> 
            <a href="@Url.Action("transactions", "Home")">Transaction</a> 
            <a href="@Url.Action("Friends", "Home")">Friends</a>
            <a href="@Url.Action("vault", "Home")">Groups</a>
            <a href="@Url.Action("vaultSend", "Home")">Pay</a>
            <a href="@Url.Action("settings", "Home")">
                <img src="https://static.vecteezy.com/system/resources/thumbnails/049/209/831/small_2x/young-woman-smiling-with-natural-beauty-against-a-plain-background-in-a-bright-and-cheerful-setting-png.png" height="40" class="avatar-photo-nav">
            </a>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody() 
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - VaultShare - 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
